<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mini Biblioteca</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/css.css">

</head>

<body class="menu">
    <div class="centro300">
        <div class="boxcadastro">
            <img src="image/Logotipo.jpg" style="width: 25%">
            <h3 style="text-align: center; margin-top: 15px;">Cadastro Obras</h3>
            <div style="display: inline-grid; grid-template-columns: auto auto auto; width: 30%;">

                <div class="form-check abc-radio">
                    <input class="form-check-input" type="radio" name="radio1" id="radio1" value="option1"
                        onclick="teste(1)">
                    <label class="form-check-label" for="radio1">
                        Artigo
                    </label>
                </div>

                <div class="form-check abc-radio">
                    <input class="form-check-input" type="radio" name="radio1" id="radio2" value="option2"
                        onclick="teste(2)">
                    <label class="form-check-label" for="radio2">
                        Publicação
                    </label>
                </div>
                <div class="form-check abc-radio">
                    <input class="form-check-input" type="radio" name="radio1" id="radio2" value="option3">
                    <label class="form-check-label" for="radio3">
                        DOI
                    </label>
                </div>
            </div>
            <div id="teste"></div>

            <form>
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Titulo">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Autores">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Ano">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Publicação">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Cidade da Publicação">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Congresso">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Revista">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="DOI">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="Link do Arquivo">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="ISSN">
                <input type="text" class="form-control" style="margin-top: 10px;" placeholder="ISBN">
                <textarea type="text" class="form-control" style="margin-top: 10px;" placeholder="Resumo"></textarea>
                <input type="hidden" class="form-control" style="margin-top: 10px; width: 30px" name="MAX_FILE_SIZE"
                    value="4194304" placeholder="Telefone">


                <input type="hidden" name="MAX_FILE_SIZE" style="margin-top: 10px;" value="4194304" />

                <input type="file" style="margin-top: 10px;" name="arquivo" />

                <br><button type="submit" class="btn btn-primary" style="margin-top: 10px; ">ENVIAR</button></br>
            </form>

        </div>

        <div class="rodape"> Seja bem vindo a Mini Biblioteca!!!</div>

    </div>
</body>

<script>
    function teste(teste) {



    }
</script>

</html>