<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8" />
     <title>Mini Biblioteca</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/css/css.css">

<body class="menu1">

     <div class="navbar1">
          <div class="borda1">
               <div class="subnav1"></div>
          </div>
     </div>

     <img class="frente" src="image/notebook.jpg" alt="Car">

     <div class="text">

          <h2 style="text-align: center">A sua biblioteca quando e onde você precisar </h2>


          <p class="boxmodel1" style="float: left; margin-left: 50px; text-align: center">
               <img class="icon" src="image/icon2.png">
               <br />
               <spam style=" text-align: center"> Plataforma intuitiva e fácil de usar.</spam>
          </p>
          </p>
          <p class="boxmodel2" style="float:  left; margin-left: 50px; text-align: center">
               <img class="icon1" src="image/icon3.png">
               <br />
               <spam style=" text-align: center;"> Totalmente online.</spam>
          </p>
          <p class="boxmodel3" style="float: left; margin-left: 50px; text-align: center">
               <img class="icon1" src="image/icon4.png">
               <br />
               <spam style=" text-align: center;"> Com documentos acadêmicos e científicos
               </spam>
          </p>
          <br />
     </div>
     </div>
     </div>

     <br />
     <div>

          <img class="figure1" src="image/telahome2.jpg">
          <button onclick="window.location='visualizarobras';" class="btn-wrap">Visualizar Obras</button>
          <button onclick="window.location='telausuario';" class="btn-wrap1">Minhas Obras</button>
          <button onclick="window.location='http://localhost:8081';" class="btn-wrap2">Minhas Obras</button>
     </div>


</body>

</html>