<!DOCTYPE html charset=UTF-8>
<html>
<title>Mini Biblioteca</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/css.css">

<body class="menu1">

    <div class="navbar1">
<<<<<<< HEAD
       <div class="borda1">
        <div class="subnav1">
            
            <img  class="figure" src="image/telahome.jpg">
            <button class="subnavbtn1" onclick="window.location='cadastroobras';">Cadastrar Obras </button>
            <button class="subnavbtn1" onclick="window.location='login';">Login </i></button>
            <button class="subnavbtn1" onclick="window.location='/';">Home</button>
=======
        <div class="borda1">
            <div class="subnav1">

                <img class="figure" src="image/telahome.jpg">
                <button class="subnavbtn1" onclick="window.location='cadastroobras';">Cadastrar Obras </button>
                <button class="subnavbtn1" onclick="window.location='login';">Login </i></button>
                <button class="subnavbtn1" onclick="window.location='/';">Home</button>
            </div>
>>>>>>> e6f609303c46a224bb437d74e264ea4d00073c6e
        </div>

    </div>

    <img class="frente" src="image/notebook.jpg" alt="Car">

    <div class="text">
        <h2>Acervo digital </h2>

        <p class="boxmodel1" style="float: left; margin-left: 50px">
            <img class="icon" src="image/icon2.png">
            Plataforma intuitiva e fácil de usar.

<<<<<<< HEAD
<p class="boxmodel1" style="float: left; margin-left: 50px" >
     <img class="icon"  src="image/icon2.png">
	   <br>Plataforma intuitiva e fácil de usar.
   
</p>
<p class="boxmodel2" style="float:  left; margin-left: 50px">
     <img class="icon"  src="image/icon3.png">
	<br>Totalmente online
</p>
=======
        </p>
        <p class="boxmodel2" style="float:  left; margin-left: 50px">
            <img class="icon" src="image/icon3.png">
            Totalmente online
        </p>
>>>>>>> e6f609303c46a224bb437d74e264ea4d00073c6e


        <p class="boxmodel3" style="float: left; margin-left: 50px">
            <img class="icon" src="image/icon4.png">
            Com documentos acadêmicos e científicos
        </p>

    </div>



    </div>
    <div class="rodape"> Seja bem vindo a Mini Biblioteca!!!</div>
    </div>

</body>

</html>