<!DOCTYPE html charset=UTF-8>
<html>
<title>Mini Biblioteca</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/css.css">

<body class="menu1">

    <img class="frente" src="image/notebook.jpg" alt="Car">

    <div class="text">
        <h2>Acervo digital </h2>
        <p class="boxmodel1" style="float: left; margin-left: 50px;">
            <img class="icon" src="image/icon2.png">
            Plataforma intuitiva e fácil de usar.

        </p>
        <p class="boxmodel2" style="float:  left; margin-left: 50px">
            <img class="icon" src="image/icon3.png">
            Totalmente online
        </p>


        <p class="boxmodel3" style="float: left; margin-left: 50px;">
            <img class="icon" src="image/icon4.png">
            Com documentos acadêmicos e científicos
        </p>



    </div>


</body>

</html>