<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Biblioteca</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function autenticar() {
        const login = document.getElementById('login').value;
        const senha = document.getElementById('senha').value;
        $.ajax({
             type: "POST",
             url: "https://api.om.blog.br/api/v1/usuarios/auth",
             data: {
               login: login,
               senha: senha
             },
             success: function(res){
               console.log(res)
               localStorage.setItem('user_token', res.token)
               alert('Logado com sucesso!');
             },
             error: function(err){
               console.log(err)
               alert('Credenciais inválidas!');
             },
             dataType: "json",
         });
         return true;
      }
    </script>
</head>

<body class="menu">
    <div class="centro900">
        <div class="boxlogin">
            <div class="ladoesquerdo">
              <img src="image/Logotipo.jpg">
              <div class="form-group">
                  <label for="exampleInputEmail1">Usuário</label>
                  <input id="login" type="text" class="form-control" placeholder="Usuário">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input id="senha" type="password" class="form-control" placeholder="Senha">
              </div>
              <button onclick="autenticar()" type="submit" class="btn btn-primary">Entrar</button>
              <button type="button" class="btn btn-secondary" onclick="window.location='cadastrousuario';">Cadastrar-se</button>
            </div>
        </div>
    </div>
</body>

</html>
