<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            const token = localStorage.getItem('user_token');
            $.ajax({
                type: "GET",
                url: "http://localhost:3331/api/v1/usuarios",
                headers: {
                    Authorization: token
                },
                success: function(res){
                    let stringUser = `${res.usuario.pessoa.nome}`;
                    $('#login-container').html(stringUser);
                    $('#login-container').click(()=>{
                        location.href = '/telausuario';
                    })
                    $('#sair-container').html('Sair');
                },
                error: function(err){
                    console.log(err)
                },
                dataType: "json",
            });   
        });

        function sair() {
            localStorage.removeItem('user_token');
            location.href = '/';
        }
    </script>
</head>

<body class="menu1">
    <div class="navbar1">
        <div class="borda1">
            <div class="subnav1">

                <img class="figure" src="image/telahome.jpg">

                <nav style="padding-left: 65%;">
                    <ul id="nav" class="menuNav" style="padding-bottom: 15%;">
                        <li class="subnavbtn1">Cadastro de Obras
                            <ul style="position: absolute;padding-top: 10px;">
                                <li onclick="window.location='cadastroTCC'">TCC</li>
                                <li onclick="window.location='cadastroArtigo'">Artigo</li>
                                <li onclick="window.location='cadastroPi'">PI</li>
                                <li onclick="window.location='cadastroPublicacao'">Publicação</li>
                            </ul>
                        </li>
                        <li id="sair-container" class="subnavbtn1" onclick="sair()"></li>
                        <li id="login-container" class="subnavbtn1" onclick="window.location='login';">Login </li>
                        <li class="subnavbtn1" onclick="window.location='/';">Home</li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

</body>

</html>