<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/css.css">
</head>

<body class="menu1">
    <div class="navbar1">
        <div class="borda1">
            <div class="subnav1">

                <img class="figure" src="image/telahome.jpg">

                <nav style="padding-left: 65%;">
                    <ul class="menuNav" style="padding-bottom: 15%;">
                        <li class="subnavbtn1">Cadastro de Obras
                            <ul style="position: absolute;padding-top: 10px;">
                                <li onclick="window.location='cadastroTCC'">TCC</li>
                                <li onclick="window.location='cadastroArtigo'">Artigo</li>
                                <li onclick="window.location='cadastroPi'">PI</li>
                                <li onclick="window.location='cadastroPublicacao'">Publicação</li>
                            </ul>
                        </li>
                        <li class="subnavbtn1" onclick="window.location='login';">Login </li>
                        <li class="subnavbtn1" onclick="window.location='/';">Home</li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

</body>

</html>