<div class="rodape" ng-if="teste == 2">
    <div class="row">
        <div style="text-align: center;"> ©️ 2020 Minha
            Biblioteca Online - Todos os direitos reservados</div>
    </div>
</div>